# Ignore everything
HW1/*
HW2/*
HW3/*
HW4/*


# But not these files...

!HW1/HW1.ipynb
!HW1/Hw1_Jordi_Morera.pdf
!HW2/HW2.ipynb
!HW2/HW2_Jordi_Morera.pdf
!HW3/HW3.ipynb
!HW3/HW3_Jordi_Morera.pdf
!HW4/HW4.ipynb
!HW4/HW4_Morera_Jordi.pdf
